body {
    background-color:white;
  }

  #newAcquisitionSection {
    width: 100%;
    margin: auto;
  }
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    color: black;
  }
  h3 {
    color: black;
  }
  h4 {
    color: black;
  }
  pre {
    font-size:20px;
    color: black;
    font: "Times New Roman";
    font-style:normal;
    width: 100%;
  }
  pre:hover {
    font-style: oblique;
  }
