body {
    background-color:white;
  }

  #newAcquisitionSection {
    width: 100%;
    margin: auto;
  }

  #accept {
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    }

#reject {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 10%;
  }
